# CONFIG_LP_MULTIBOOT is not set
CONFIG_LP_COREBOOT_VIDEO_CONSOLE=y
CONFIG_LP_USB=y
CONFIG_LP_USB_UHCI=n
CONFIG_LP_USB_OHCI=n
CONFIG_LP_USB_EHCI=y
CONFIG_LP_USB_EHCI_USB_DEBUG=n
CONFIG_LP_USB_XHCI=y
CONFIG_LP_ARCH_X86=y
CONFIG_LP_GPL=y
#CONFIG_LP_HEAP_SIZE=67108864
CONFIG_LP_HEAP_SIZE=268435456
CONFIG_LP_PC_MOUSE=y
CONFIG_LP_CURSOR=y
CONFIG_LP_USB_HID=y